<%- include('partials/_layout', { title: 'Not Found', body: (function(){/*
  <section class="prose">
    <h1>404</h1>
    <p>We couldn’t find that page. <a href="/">Go home</a>.</p>
  </section>
*/}).toString().match(/\/\*([\s\S]*)\*\//)[1] }) %>
