<%- include('partials/_layout', { title: 'Error', body: (function(){/*
  <section class="prose">
    <h1>Something went wrong</h1>
    <p>Please try again later. <a href="/">Back to Home</a></p>
  </section>
*/}).toString().match(/\/\*([\s\S]*)\*\//)[1] }) %>
